# Build files
/target/
build/
*.class
*.jar
*.war

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Environment
.env
uploads/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / Spring Tool Suite
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
.vscode/

# Spring config
application.properties
application.yml
